@import "reset.css";
@import "clock.css";
@import "greeting.css";

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
